%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

%% == Subdirectories ==
{sub_dirs, ["apps/mto_discovery", "apps/mto_ebus", "rel"]}.

{erl_opts, [debug_info, {d, 'EUNIT', true}, {src_dirs, ["src"]}]}.
{xref_checks, [undefined_function_calls]}.

{cover_enabled, true}.
{eunit_opts, [verbose]}.

{clean_files, ["*~","*/*~","*/*.xfm","test/*.beam"]}.