{sys, [
       {lib_dirs, ["../apps"]},
       {rel, "mounto", "1.0",
        [
         kernel,
         stdlib,
         sasl,
         mto_discovery,
         mto_ebus
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "mounto"},
       {profile, embedded},
       {incl_cond, derived},
       {mod_cond, derived}, 
       {app_file, all},
       {debug_info, strip},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/(?!start_clean.boot)",
                           "^erts.*/bin/(dialyzer|typer)",
                           "^erts.*/(doc|info|include|lib|man|src)"]},
       {excl_app_filters, ["\.gitignore"]}
      ]}.

{target_dir, "mounto"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "{{erts_vsn}}/bin/erl"},
           {copy, "files/nodetool", "{{erts_vsn}}/bin/nodetool"},
           {copy, "files/mounto", "bin/mounto"},
           {copy, "files/app.config", "etc/app.config"},
           {copy, "files/vm.args", "etc/vm.args"}
           ]}.
